@model WebCoreMvc.ViewModels.UserDeleteViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Kullanıcı Silme</h1>
<h5 class="text-danger"> Silmek İstediğinizden Eminmisiniz ?</h5>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Delete" method="post">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="@Model.UserUpdateDto.Id">Kullanıcı Adı </label>
                <input asp-for="@Model.UserUpdateDto.Id" class="form-control" type="hidden" />
            </div>



            <div class="form-group">
                <label asp-for="@Model.UserUpdateDto.UserName">Kullanıcı Adı </label>
                <input asp-for="@Model.UserUpdateDto.UserName" class="form-control" readonly />
                <span asp-validation-for="@Model.UserUpdateDto.UserName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.UserUpdateDto.FirstName"> Adınız </label>
                <input asp-for="@Model.UserUpdateDto.FirstName" class="form-control" readonly />
                <span asp-validation-for="@Model.UserUpdateDto.FirstName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.UserUpdateDto.LastName">Soyadınız </label>
                <input asp-for="@Model.UserUpdateDto.LastName" class="form-control" readonly />
                <span asp-validation-for="@Model.UserUpdateDto.LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.UserUpdateDto.Password"> Şifreniz </label>
                <input asp-for="@Model.UserUpdateDto.Password" class="form-control" readonly />
                <span asp-validation-for="@Model.UserUpdateDto.Password" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.UserUpdateDto.Gender">Cinsiyet </label>
                <select class="form-control" readonly asp-for="@Model.UserUpdateDto.Gender" asp-items="@(new SelectList(Model.Genders,"Id","GenderName"))"></select>
                <span asp-validation-for="@Model.UserUpdateDto.Gender" class="text-danger" ></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.UserUpdateDto.DateOfBirth">Doğum Tarihiniz :  </label>
                <input asp-for="@Model.UserUpdateDto.DateOfBirth" class="form-control" type="date" readonly />
                <span asp-validation-for="@Model.UserUpdateDto.DateOfBirth" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.UserUpdateDto.Email">Email Adresiniz </label>
                <input asp-for="@Model.UserUpdateDto.Email" class="form-control" type="email" readonly />
                <span asp-validation-for="@Model.UserUpdateDto.Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="@Model.UserUpdateDto.Adress">Adresiniz </label>
                <input asp-for="@Model.UserUpdateDto.Adress" class="form-control" type="text" readonly />
                <span asp-validation-for="@Model.UserUpdateDto.Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Sil" class="btn btn-danger" />
                <a class="btn btn-primary m-3" asp-action="Index">Listeye Geri Dön</a>
            </div>


        </form>
    </div>

</div>

