@using Entities.Dtos.User
@model List<UserDetailDto>
@{
    ViewData["Title"] = "Index";
}

<h1>Kullanıcılar</h1>
<a class="btn btn-primary mb-3" asp-action="Add"> Kullanıcı Ekle</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>User Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Gender</th>
            <th>Date Of Birth</th>
            <th>Email</th>
            <th>Adress</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody >
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.UserName</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Gender</td>
                <td>@item.DateOfBirth.ToShortDateString()</td>
                <td>@item.Email</td>
                <td>@item.Adress</td>
                <td> 
                    <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-info">Düzenle</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Sil</a>
                </td>

            </tr>
        }
    </tbody>
    <tfoot>

    </tfoot>
</table>

